In [1]:
my_dict = {"key1":"value1","key2":"value2","key3":"value3"}

In [2]:
my_dict["key3"]

'value3'

In [3]:
my_dict.get("key3")

'value3'

In [4]:
d = {"a":"letter a",
    "name":"Claire",
    "age":35,
    "schools":{"Solomon":"kibuli","Shady":"Ndejje","Michelle":"Nabbingo"},
    "numbers":[1,2,3,4,5,6,7],
    "letters":["a","b","c"]
    }

In [6]:
# which school does Solomon attend?

d["schools"]["Solomon"]

'kibuli'

In [7]:
# which school does Michelle attend?

d["schools"]["michelle"]

KeyError: 'michelle'

You notice a KeyError instead of writing "michelle" change it to "Michelle"

In [8]:
d["schools"]["Michelle"]

'Nabbingo'

In [9]:
d = {"a":"letter a",
    "name":"Claire",
    "age":35,
    "schools":{"Solomon":"kibuli","Shady":"Ndejje","Michelle":"Nabbingo"},
    "numbers":[1,2,3,4,5,6,7],
    "letters":["a","b","c"]
    }

In [10]:
# Add an item

d["sets"] = 30

In [11]:
d

{'a': 'letter a',
 'name': 'Claire',
 'age': 35,
 'schools': {'Solomon': 'kibuli', 'Shady': 'Ndejje', 'Michelle': 'Nabbingo'},
 'numbers': [1, 2, 3, 4, 5, 6, 7],
 'letters': ['a', 'b', 'c'],
 'sets': 30}

In [12]:
d["sets"] = "replaced"
d

{'a': 'letter a',
 'name': 'Claire',
 'age': 35,
 'schools': {'Solomon': 'kibuli', 'Shady': 'Ndejje', 'Michelle': 'Nabbingo'},
 'numbers': [1, 2, 3, 4, 5, 6, 7],
 'letters': ['a', 'b', 'c'],
 'sets': 'replaced'}

In [13]:
# deleting items 

del d["letters"]
print(d)

{'a': 'letter a', 'name': 'Claire', 'age': 35, 'schools': {'Solomon': 'kibuli', 'Shady': 'Ndejje', 'Michelle': 'Nabbingo'}, 'numbers': [1, 2, 3, 4, 5, 6, 7], 'sets': 'replaced'}

In [15]:
my_dict = {"key1":"value1","key2":"value2","key3":"value3"}

# method called .values()

my_dict.values()

dict_values(['value1', 'value2', 'value3'])

In [16]:
#method keys()

my_dict.keys()

dict_keys(['key1', 'key2', 'key3'])

In [17]:
#method items()

my_dict.items()

dict_items([('key1', 'value1'), ('key2', 'value2'), ('key3', 'value3')])

Exercise:

Use Anaconda Jupyter Notebook:

1. Give me your understanding of lists and dictionaries
2. Provide the similarities between lists and dictionaries
3. Give the differences between lists and dictionaries  
 
 NB
 Please provide an explaination with examples(lines of code)