Lists

[1,2,3,4]

Dictionaries 

{"key":"value","key1":"value2"}

Tuples 

(1,2,3)

In [2]:
my_tup = (1,2,3,4,"girls",6,[1,2,3,4])
my_tup

(1, 2, 3, 4, 'girls', 6, [1, 2, 3, 4])

In [3]:
print(my_tup)

(1, 2, 3, 4, 'girls', 6, [1, 2, 3, 4])

In [4]:
#indexing
my_tup[4]

'girls'

In [5]:
# slicing 

my_tup[3:]

(4, 'girls', 6, [1, 2, 3, 4])

In [6]:
my_tup[:5]

(1, 2, 3, 4, 'girls')

In [7]:
my_tup[1:6]

(2, 3, 4, 'girls', 6)

In [8]:
my_tup[4] = "boys"

TypeError: 'tuple' object does not support item assignment

In [9]:
# count method

my_ttup = (1,1,2,2,2,3,4,5,6,7,8,9)
my_ttup.count(2)

3

In [10]:
my_ttup = (1,1,2,2,2,3,4,5,6,7,8,9)
my_ttup.count(1)

2

In [11]:
my_ttup = (1,1,2,2,2,3,4,5,6,7,8,9)
my_ttup.count()

TypeError: count() takes exactly one argument (0 given)

In [12]:
# index method

my_ttup = (1,1,2,2,2,3,4,5,6,7,8,9)
my_ttup.index(2)

2

In [13]:
my_ttup = (1,2,3,4,5,6,7,8,9)
my_ttup.index(7)

6

In [14]:
my_tup = (1,2,3,4,"girls",6,[1,2,3,4])
len(my_tup)

7

In [15]:
my_tup = (1,2,3,4,"girls",6,[1,2,3,4])
type(my_tup)

tuple

In [16]:
my_tup = (1,2,3,4,"girls",6,[1,2,3,4])
my_tup.count(1)

1

In [17]:
my_tup.count(4)

1

Exercises:

1. Reverse the tuple
Given:tuple1 = (10, 20, 30, 40, 50)
Expected output:(50, 40, 30, 20, 10)

Use tuple slicing to reverse the given tuple. Note: the last element starts at -1.

2.  Create a tuple with single item 50

3. Counts the number of occurrences of item 50 from a tuple
Given: tuple1 = (50, 10, 60, 70, 50)
Expected output: 2

Use the count() method of a tuple.

4. Check if all items in the tuple are the same
tuple1 = (45, 45, 45, 45)
Expected output: True