# Python and the operators

In [1]:
#subtraction operator

#displays an interger as the data type


5-7

-2

In [3]:
6-3

3

In [4]:
#Division operator 

#displays a float as the data type

7/5

1.4

In [8]:
3/5

0.6

In [9]:
10/5

2.0

In [5]:
4/2

2.0

In [10]:
6/3

2.0

In [6]:
#Multiplication operator

#display a whole number which is an interger

50 * 20

1000

In [7]:
#Additional operator 

70 + 10

80

In [11]:
100 + 20

120

In [12]:
40 + 5

45

In [13]:
#Mod %


7%5

2

In [14]:
5%7

5

In [15]:
3%2

1

In [16]:
2%2

0

In [17]:
6%3

0

In [18]:
1%2

1

## Exponentiation **

### More Math in python

In [20]:
2**3

8

In [21]:
2*3

6

In [22]:
#2**3 2^3

2*2*2

8

In [23]:
6**3

216

### / Division(classic division) vs // floor division

In [24]:
6/3

2.0

In [25]:
6//3

2

In [26]:
8/6

1.3333333333333333

In [27]:
8//6

1

In [28]:
7/5

1.4

In [29]:
7//5

1

In [30]:
5/3

1.6666666666666667

In [31]:
5//3

1

In [32]:
75/9

8.333333333333334

In [33]:
75//9

8

## < less than > greater than

In [35]:
#Boolean logic 

8<2

False

In [36]:
2<8

True

In [37]:
10>8

True

In [38]:
8>9

False

In [39]:
0.1 +0.2

0.30000000000000004

In [40]:
0.1+0.2-0.3

5.551115123125783e-17

# Variables

## variables is a reserved memory location to store values

#### my_dogs

### myDogs.   dogs

#### % my%dogs  my!dogs my&dogs my/dogs

In [21]:
#print function

print("Hello World!")

Hello World!

In [22]:
#Assign "Hello World!" to the variable

my_text ="Hello World!"
print(my_text)

Hello World!

In [23]:
#Doreen has 5 dogs

my_dogs = 5
print(my_dogs)

5

In [4]:
#Mia's tempreture

temp = 75.4
print(temp)

75.4

In [26]:
#couple of different strings in the print function 

print("Biscuits","Chocolates","Wine","Toys")

Biscuits Chocolates Wine Toys

In [27]:
#How many glasses of water did you drink?

glass_of_water = 2
print("I drank",glass_of_water,"glasses of water today")

I drank 2 glasses of water today

In [28]:
#How many times did sandra pray?

pray_time = 5
print("Sandra prays",pray_time,"times today")

Sandra prays 5 times today

In [33]:
#Did Patrick go to school?

patrick_go = "yes"

print(patrick_go,"I went to school")

yes I went to school

In [34]:
#Patrick's health - 8 glasses of water

glass_of_water = 5
glass_of_water = 3
print(glass_of_water)

3

In [35]:
#Patrick's health - 8 glasses of water

glass_of_water = 5
glass_of_water = glass_of_water + 3
print(glass_of_water)

8

In [36]:
#Patrick's health - 8 glasses of water

glass_of_water = 5
glass_of_water = 5 + 3
print(glass_of_water)

8

In [39]:
#Patrick's health - 8 glasses of water

glass_of_water = 5
glass_of_water += 3
print(glass_of_water)

8

In [11]:
#Morning Health- take 5 glasses of water

glass_of_water = 3
glass_of_water = 5

print(glass_of_water)

5

In [12]:
#Morning Health- take 5 glasses of water

glass_of_water = 3
glass_of_water = glass_of_water + 2

print(glass_of_water)

5

In [13]:
#Mia has 12 dogs

owns_dogs = 2
owns_dogs = owns_dogs + 10

print(owns_dogs)

12

In [14]:
#Mia has 12 dogs

owns_dogs = 2
owns_dogs = 10

print(owns_dogs)

10

In [19]:
#Doreen wants to have 20 babies

Doreen_babies= 20
print("Doreen wants to have",Doreen_babies)

Doreen wants to have 20

In [20]:
#Doreen wants to have 20 babies

doreen_babies = 12 
doreen_babies = doreen_babies + 8 
print("Doreen wants to have", doreen_babies,"babies")

Doreen wants to have 20 babies

## Data types in python

Strings = "Sandra" 'sandra'         # str
Intergers = 4, 5,100,1000           #int
Floating points = 24.6, 45.8, 10.0  #float

### Strings = "Sandra" 'sandra' # str 
### Intergers = 4, 5,100,1000 #int 
### Floating points = 24.6, 45.8, 10.0 #float

# Type Conversion in python

In [41]:
#Convert a string into an interger

my_grade = "10"
Answer = int(my_grade)
print(my_grade)

10

In [42]:
#Convert a string into an interger

my_grade = "10"
Answer = int(my_grade)
print(Answer)

10

In [43]:
#Convert a float into an Interger

my_temp = 97.70
Answer = int(my_temp)
print(Answer)

97

In [45]:
#Convert a string into a float

shoe_price = "69.99"
Answer =float(shoe_price)
print(Answer)

69.99

In [47]:
#convert a data into a string

gross_world_product = 84.84

gwp_str=str(gross_world_product)
answer = "In 2021 gross product of the world(GWP)was " + gwp_str
print(answer)

In 2021 gross product of the world(GWP)was 84.84

In [50]:
#convert a float into a string

patrick_temp = 86.64
result = str(patrick_temp)
temp = "Doctor says the normal tempreture is supposed to be " + result
print(temp)

Doctor says the normal tempreture is supposed to be 86.64