In [5]:
# Sets
# type function 

my_set = {1,2,3,4,5}
type(my_set)

set

In [6]:
#add method

my_set.add(6)
my_set.add(6)
my_set.add(7)

my_set

{1, 2, 3, 4, 5, 6, 7}

In [7]:
# set()
# add method

my_set = set()
my_set.add(2)
my_set.add(2)
my_set.add(3)
my_set

{2, 3}

In [13]:
test_results = {95,80,75,60}
#add method

test_results.add(100)
test_results.add(100)
test_results.add(80)
test_results.add(65)

test_results

{60, 65, 75, 80, 95, 100}

In [14]:
test_results = set()

test_results.add(100)
test_results.add(85)
test_results.add(85)
test_results.add(70)

test_results

{70, 85, 100}

In [8]:
my_tuple = (1,5,6,7,8,9,2,3)
result = set(my_tuple)
result

{1, 2, 3, 5, 6, 7, 8, 9}

In [9]:
my_list = [1,5,5,6,6,7,8,9]
result = set(my_list)
result

{1, 5, 6, 7, 8, 9}

In [15]:
# set.intersection()

set1 = {1,2}
set2 = {1,3}
set3 = {1,4}

results = set.intersection(set1,set2,set3)

print(results)

{1}

In [16]:
# .difference()

set1 = {1,2,3,4,5}
set2 = {1,3,4,5}

results = set1.difference(set2)

results

{2}

In [23]:
set1 = {1,2,3,4,5}
set2 = {1,3,4,5,6,7,8,9}
test = set2.difference(set1)
test

{6, 7, 8, 9}

Boolean

In [10]:
1 == 1

True

In [11]:
1>1

False

In [12]:
8 < 10

True

Exercises:

1. How do you add an element to a set
2. How does a set differ from a List
3. What is the result of set[1,2,1,4,2,4,1]
4. What is the result of Len (set([1,2,1,4,2,4,1]))


5. Given:

set1 = {10, 20, 30, 40, 50}
set2 = {30, 40, 50, 60, 70}

Expected output:{70, 40, 10, 50, 20, 60, 30}
Use the union() method of a set.

6. Given:

set1 = {10, 20, 30, 40, 50}
set2 = {30, 40, 50, 60, 70}
Expected output:{20, 70, 10, 60}
Use the symmetric_difference() method of a set.

7. Given:

set1 = {10, 20, 30, 40, 50}
set2 = {30, 40, 50, 60, 70}
Expected output:{70, 10, 20, 60}
Use the symmetric_difference_update() method of a set.

8. Given:

set1 = {10, 20, 30, 40, 50}
set2 = {30, 40, 50, 60, 70}
Expected output:{40, 50, 30}
Use the intersection_update() method of a set.