# Data Types

In [1]:
# intergers 

#int  - whole numbers 

1, 2, 100, 38 , 56 


# Floating points 

# float - decimal points 

1.2, 0.6


# strings 

# str - words of character

"Hello World", "Bashir"

('Hello World', 'Bashir')

In [3]:
print("Emmanuel")

Emmanuel

# Data Structures

In [4]:
#Create a dict of items 
#Dictionary, key and value

grocery_list = {"Bread":2, "milk":1, "sugar":3, "soap":1}

print(grocery_list)

{'Bread': 2, 'milk': 1, 'sugar': 3, 'soap': 1}

In [5]:
#create a tuple of items

bucket_list = ("Bread", "milk", "sugar", "soap")

print(bucket_list)

('Bread', 'milk', 'sugar', 'soap')

In [7]:
#create a list of items

list1 = ["Bread","Sugar","Milk","soap"]

print(list1)

['Bread', 'Sugar', 'Milk', 'soap']

In [8]:
#create  a set of items


items = {"Bread","Milk","Sugar","Soap"}

print(items)

{'Soap', 'Bread', 'Milk', 'Sugar'}

## Using Python as a calculator

In [9]:
# Additional operator

7 + 4

11

In [10]:
# Additional operator 

add = 7 + 4

print(add)

11

In [11]:
# Multiplication operator

7 * 4

28

In [12]:
b = 7 * 4

print(b)

28

In [13]:
#Subtraction operator

7 - 4

3

In [14]:
c = 7 -4

print(c)

3

In [15]:
# Division operator

7 / 4

1.75

#### modulo ("modulus" or "mod") is the remainder after dividing one number by another. 

Example : 7 mod 4 equals 3

In [16]:
# modulo operator 


7 % 4

3

In [17]:
#floor Division

7 // 4

1

In [18]:
#Expo operator 
# 7 * 7* 7 * 7

7 ** 4

2401

In [19]:
0.1 + 0.2 - 0.3

5.551115123125783e-17

In [13]:
# multiplication operator 

7 * 4

28

In [14]:
# subtraction operator 

7 - 4

3

In [15]:
6 - 3

3

In [16]:
6 % 3

0

In [17]:
4 - 2

2

In [18]:
4 % 2

0

In [19]:
8 % 3

2

In [20]:
8 / 3

2.6666666666666665

In [21]:
8 - 3

5

## Variable & Print function

In [22]:
# Additional operator 

add = 8 + 9

print(add)

17

In [20]:
my_dogs = 2

my_dogs = ["Sammy", "Frankie"]

my_dogs

['Sammy', 'Frankie']

In [21]:
my_dogs = 2

my_dogs = ["Sammy", "Frankie"]

print(my_dogs)

['Sammy', 'Frankie']

In [22]:
my_dogs = 2

print(type(my_dogs))

<class 'int'>

In [23]:
my_dogs = "Sammy"

print(type(my_dogs))

<class 'str'>

In [24]:
my_dogs = ["Sammy", "Frankie"]

print(type(my_dogs))

<class 'list'>

#### Strings 

Anything in quotes is a string it can be a number, a letter or even # $ % @ as long as its surrounded by quotes.

examples of Strings : 
"zai45#$", '235' , 'gally' , "this too is a string"

In [23]:
print("Hello World!")

Hello World!

In [24]:
print("add")

add

In [25]:
print("Kampala")

Kampala

In [26]:
Kampala = 56

print(Kampala)

56

In [27]:
name_city = "Kampala"

print(name_city)

Kampala

# Execrises

In [ ]:
#Fill the print function so it prints girls_playing

girls_playing = 3

girls_playing=girls_playing + 1


print()

In [ ]:
#Assign a number to the variable: girls_playing

girls_playing=

print("They are ",girls_playing, "girls playing today.")

In [ ]:
#Assign Boolean to the variable below then print it.

alive=
print(alive)